<div id="scroll-progress"><span class="scroll-percent"></span></div>

<!-- Website Loading
============================================= -->
 <div id="website-loading">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
      </div>
</div> <!-- .website-loading end -->

<div id="full-container">
    <app-header></app-header>

<div class="container content">

</div>
    <app-footer></app-footer>

</div><!-- #full-container end -->
<a class="scroll-top"  (click)="gotoTop()"><i class="fa fa-angle-up"></i></a>
