

       <div class="col-sm-7  offset-sm-5">
        <div *ngIf="!loadingdata">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
       </div>
  <div [ngStyle]="loadingdata?{'display': 'block'} : {'display': 'none'}">
      <table class="table-grid responsetable" id="RequestReport" >
          <thead>
            <tr>
              <th>#</th>
              <th >Student Arabic name</th>
              <th >Student english name</th>
              <th> Student address</th>
              <th >Student gender</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let Request of RequestsList| paginate: { itemsPerPage: 10,currentPage: page }">
              <td>{{Request.id}}</td>
              <td>{{Request.studentNameAr}}</td>
              <td>{{Request.studentNameEn}}</td>
              <td>{{Request.address}}</td>
              <td>
                <p *ngIf="Request.gender == 1">Male</p>
                <p *ngIf="Request.gender == 2">Female</p>
              </td>
              <td>

                <button style= "padding: 0px 8px;margin-left:5px;"    (click)="openDeleteGruop(content,Request.id)" mat-button class="btn btn-success" >
                   <span> Approve </span>  <i class="fa fa-edit"></i>

                </button>
                    <button style= "padding: 0px 8px;margin-left:5px;" (click)='onDetailsiClick(Request.id)'  mat-button class="btn btn-primary">
                      <span>  Details  </span> <i class="fa fa-eye"></i>
             </button>

                </td>
            </tr>
          </tbody>
       </table>
       <pagination-controls
        (pageChange)="page = $event"
       responsive="true"
       previousLabel="Previous"
       nextLabel="Next"></pagination-controls>

   </div>


   <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title"> Confirm Message </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure want to approve this requset?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="d('Cross click')"><i class="fa fa-remove"></i>  Cancel</button>
        <button type="button" class="btn btn-success " (click)="c('yes')" style="color:white; margin-right:5px;position: relative;" [disabled]= "postdata">
             Approve <i class="fa fa-save"></i>

             <div class="loadingio-spinner-spin-tg278z7z83"  [ngClass]="postdata? 'block' : 'none'" >
                <div class="ldio-tw3lft2h3a">
                <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                </div>
            </div>
            </button>
    </div>

  </ng-template>